.headerContainer {
  position: sticky;
  height: 72px;
  top: 0;
  z-index: 99;
  background: var(--white);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    height: 100%;
    padding: 0 20px;
    gap: 16px;
    width: calc(100vw - 112px);

    // .headerLeftSection {

    // }

    .headerRightSection {
      display: flex;
      gap: 8px;
      cursor: pointer;
    }
  }
}

.mobileHeader {
  border-bottom: 1px solid var(--light-gray);
  gap: 16px;
  padding: 0 20px;
}
