.timezone {
  display: flex;
  align-items: center;
  height: 34px;
}

.timezoneExpanded {
  gap: 8px;
  font-size: var(--font-size-10);
  margin: 0px 10px;

  .timezoneName {
    display: flex;
    font-size: 10px;
  }
  @media screen {
    gap: 16px;
  }
}

.timezoneCollapsed {
  justify-content: center;
  font-size: 7px;
}

.iconContainer {
  position: absolute;
  top: 50;
  right: 0;
  margin-right: 10px;
}
