html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.pxm-app-content {
  overflow-y: auto;
  height: calc(100vh - 110px);
}
.App-content {
  padding-top: 20px !important; /* Override the no padding-top from the library styles */
}
.App-content.has-page-footer {
  height: calc(
    100vh - 181px
  ); /* makes enough room for the padding and the page footer to show all content */
}
