.productDetailsPage {
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 300px 1fr;
  }
}

.productDescription {
  padding: 8px;
  font-size: 10px;
  color: var(--purple);
  text-align: center;
}

.descriptionText {
  font-size: 12px;
  text-align: center;
  padding: 16px;
}
.actions {
  height: 250px;
  align-items: flex-start;
}
